.post-container {
    background-color: var(--color-white);
    width: 450px;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #E5E7EB;
    border-top: 3px solid #99F6E4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    .post-header {
        .header-wrapper {
            display: flex;
            gap: 12px;

            .profile-picture {
                height: 35px;
                width: 40px;
                border-radius: 100%;
            }

            .post-meta-info {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;

                &-left {
                    flex: 1;

                    p:first-child {
                        font-size: 18px;
                        font-weight: 600;

                        &:hover {
                            cursor: pointer;
                            color: var(--color-secondary);
                        }
                    }



                    p:last-child {
                        color: var(--color-grey);
                        font-size: 15px;
                    }
                }

                &-right {
                    display: flex;
                    justify-content: space-between;
                    flex: 3;
                }
            }
        }
    }

    .post-body {
        .posted-image {
            width: 100%;
            height: auto;
        }
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
    }
}